
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  body{
    background-color: gainsboro;
  }
  .heading{
    margin-bottom: 13.167vw;
    
  }
.head{
    width: 100vw;
    height: 15vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    background-color: white;
    
    
}
.name{
    display: inline-block;
    position: absolute;
    left: 30px;
    font-size: 2.5vw;
}
.search{
    display: inline-block;
    position: absolute;
    left: 37%;
    
}
.searchBar{
display: flex;

}
.searchInput{
    width: 24vw;
    font-size: 1.25vw;
    border: 1px solid;
    border-radius: 14px;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
}
.submit{
    width: 15%;
    font-size: 1.8vw;
    border-radius: 14px;
    border: 1px solid;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
}
#nav-bar > ul > li{
    
    display: inline-block;
    margin: 0 0.5rem;
    padding: 0.2rem;
    color: white;
    background-color: aliceblue;
    border-radius: 25px;
    
   
}
.float{
    position: absolute;
    right: 20px;
    top: 0;
}
a{
    text-decoration: none;
    font-size: 1.8vw;
    color: black;
    
}
#nav-bar > ul > li:hover{
    background-color: gray;
    border-radius: 25px;
}
#nav-bar > ul {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    align-items: center;
    padding-inline-start: 0;
    margin-block: 0;
    height: 100%;
    
  }
  #nav-bar {
    width: 50%;
    max-width: 31vw;
    height: 3vh;
  }




  .sales{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin-left: 8.229vw;
    
  }
  .products{
    display: inline-block;
    margin: 0.658vw;
    padding: 0.658vw;
  }
  .information{
    width: 19.58vw;
    height: 13vh;
    padding: 0;
    margin: 0;
    background-color: white;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    

  }
  .image{
    width: 19.58vw;
    height: 26vh;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    margin-bottom: 0;
  }
  
  .date,.address,.price,.isAvailable{
    font-size: 1.317vw;
    margin-top: 1vw;
  }
  .date,.price{
    margin-left: 0.5vw;
  }
  .address,.isAvailable{
    margin-right: 0.5vw;
  }
  .information > .dateAddress > .date,.address{
    display: inline-block;
  }
  .information > .priceAvailable > .price,.isAvailable{
    display: inline-block;
  }
  .dateAddress,.priceAvailable{
    overflow: hidden;
  }
  .date,.price{
   float: left;
  }
  .address,.isAvailable{
    float: right;
  }
  .isAvailable{
    color: forestgreen;
  }
  
  








/*do the footer with grid!!!!!!!!*/

  .footer{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    position: relative;
    bottom: 0;
    left: 0;
    background-color: blanchedalmond;
    width: 100vw;
    height: 85vh;
  }
  .footer > .io{
    text-align: center;
    position: relative;
    left: 31vw;
  }
  
  .footer-links > .xx{
    position: relative;
    left: 0.658vw;
    top: 0.658vw;
  }
  .footer-links > .xx > li{
    display: block;
    margin: 0.527vw 0.527vw;
    padding: 0.211vw;
    color: white;
    width: 15.142vw;
    border-radius: 25px;
  }
  .footer-links > .xx > li:hover{
    background-color: white;
    border-radius: 10px;
    
  }
  .footer-contact{
    display: block;
    position: relative;
    margin-left: 3.292vw;
    top: 3.292vw;
    height: 34.627vw;
  }
 .first > h3{
  display: inline-block;
  font-size: 1.646vw;
 }
 .second > h3{
  display: inline-block;
  font-size: 1.646vw;
 }
 .footer-contact > div{
  margin: 0.658vw;
 }
 
  .footer-contact > p{
    margin-left: 0.658vw;
    font-size: 1.646vw;
    font-weight: bold;
  }
  .footer-contact > hr{
    height: 0.3vh;
    width: 15.142vw; 
    background-color: black; 
    margin-left: 0.658vw; 
    border: none;
  }
  .io-hr{
    height: 0.5vh;
    width: 50vw;
    background-color: #000;
    border: none;
    position: absolute;
    bottom: 9.875vw;
    left:25vw
  }

  .socialMedia{
    display: block;
    position: relative;
    top: 3.292vw;
    left: 3.292vw;
    height: 34.627vw;
  }

  .socialMedia > p{
    margin-left: 1.317vw;
    font-size: 1.646vw;
    font-weight: bold;
  }
  .socialMedia > hr{
    height: 0.3vh;
    width: 15.142vw; 
    background-color: black; 
    margin-left: 1.317vw; 
    border: none;
  }
 .laylaylom{
    display: block;
    position: relative;
    top: 3.292vw;
    left: 3.292vw;
    height: 34.627vw;
    width: 23.041vw;
 }
 .laylaylom > p{
    margin-left: 1.317vw;
    font-size: 1.646vw;
    font-weight: bold;
 }
 .laylaylom > hr{
  height: 0.3vh;
  width: 15.142vw; 
  background-color: black; 
  margin-left: 1.317vw; 
  border: none;
 }
  @media (max-width: 475px){
    .sales{
      grid-template-columns: repeat(2, 1fr);
      margin-left: 10.229vw;
    }
    .information{
      width: 35vw;
      height: 10vh;
    }
    .image{
      width: 35vw;
      height: 20vh;
    }
    .date,.address,.price,.isAvailable{
      font-size: 2.8vw;
      margin-top: 2.4vw;
    }
    .date,.price{
      margin-left: 1vw;
    }
    .address,.isAvailable{
      margin-right: 1vw;
    }
  }
  
  
  @media (max-width: 1280px){

  }
  @media (max-width: 1536px){

  }
  